img,
object {
    width: 200px;
    height: inherit;
}

#header {
    text-align: center;
    background: inherit;
    text-decoration: none;
    width: 100%;
    display: block;
}

#title {
    width: 80%;
    max-width: 500px;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 150px;
    height: 100%;
    display: block;
    background: black;
    color: white;
}

#filter{
    margin-top:10px;
    margin-bottom:10px;
    height:72%;
    overflow: auto;
}
select{
    width:100%;
    font-size: 12pt;
}
#navImg {
    width: 100%;
    height: auto;
    filter: invert(100%);
}

ni {
    padding: 5px;
    display: block;
    cursor: pointer;
}

ni:hover {
    background: grey;
}

html,
body {
    margin: 0;
    padding: 2px;
    background-image: url(../graphics/bg.png);
    background-repeat: repeat;
}

body {
    position: relative;
    left: 200px;
    width: 60%
}

a {
    text-decoration: inherit;
    color: inherit;
    text-align: left;
}

th,
tr,
td {
    text-align: left;
    font-family: sans-serif;
    font-size: 12pt;
}

.item {
    padding-top: 10px;
    display: flex;
    float: left;
    height: 300px;
    width: 450px;
}

.picture {
    clip: rect(0px, 50px, 50px, 0px);
}

.specs,
.detail {
    padding-left: 5px;
}

@media screen and (max-width: 500px) {
    .item {
        width: 100%;
    }
    img,
    object {
        width: 150px;
    }
}
